<hgroup>
    <h1>Evangelion</h1>
    <h2>Unit-01&nbsp;</h2>
</hgroup>
<video src="https://www.dropbox.com/s/uszvojucqf2zcdp/t3.1.mp4?raw=1" muted autoplay></video>
<audio src="https://www.dropbox.com/s/imxezaj4hiyq5l4/berserk.mp3?raw=1" preload></audio>
<div class="lines" role="presentation"></div>
<figure id="eva-01"></figure>
<section id="magi">
    <div>
        <h1 class="controls left">Controls</h1>
        <h1 class="controls right">Controls</h1>
        <p class="code">Code: 200</p>
        <button class="berserk" type="button">Berserk</button>
        <button class="play console" type="button">Play<br />Pause</button>
        <button class="replay console" type="button">Replay:<br />OFF</button>
        <span class="link" role="presentation"></span>
        <button class="volume console" type="button">Volume:<br />ON</button>
    </div>
</section>
