<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1" />
<meta name="theme-color" content="#000000" />
<meta name="robots" content="index,follow,noimageindex" />

<title>Cruel Angel's Thesis</title>

<meta name="description" content="An art project I did for fun based on the Evangelion series." />
<meta name="keywords" content="Cruel Angel's Thesis, Neon Genesis Evangelion, Evangelion Unit-01, EVA-01, Jia Liang" />
<meta name="image" content="${" https://jialiang.github.io/evangelion/" + require("../image/preview.png")}" />
<meta name="author" content="Jia Liang, hojialiang@yahoo.com" />
<meta name="last-modified" content="${(new Date()).toISOString().split('T')[0]}" />

<link rel="icon" type="image/x-icon" href="${" https://jialiang.github.io/evangelion/" + require("../favicon.ico")}" />
<link rel="canonical" href="https://jialiang.github.io/evangelion" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Cruel Angel's Thesis" />
<meta name="twitter:description" content="An art project I did for fun based on the Evangelion series." />
<meta name="twitter:image:src" content="${" https://jialiang.github.io/evangelion/" + require("../image/preview.png")}" />

<meta name="og:title" content="Cruel Angel's Thesis" />
<meta name="og:description" content="An art project I did for fun based on the Evangelion series." />
<meta name="og:image" content="${" https://jialiang.github.io/evangelion/" + require("../image/preview.png")}" />
<meta name="og:url" content="https://jialiang.github.io/evangelion" />
<meta name="og:site_name" content="Jia Liang's Website" />
<meta name="og:type" content="website" />
