<section id="lyrics">
    <h1>Cruel Angel's Thesis</h1>
    <p>
        Like an angel who has forsaken sympathy,<br />
        Rise up, young boy, and make yourself a legend!<br />
        <br />
        Blue skies and beckoning winds... <br />
        Are trying to open the door of your heart.<br />
        But you're gazing at me as if you cannot see;<br />
        You just stand there, smiling vacantly.<br />
        Your eyes hold such innocence;<br />
        You're blind to the fate that will soon come to pass.<br />
        But it's summoning you with a touch like a sigh;<br />
        You seek it without knowing why.<br />
        <br />
        But, someday, I know that you will be awakened...<br />
        And your eyes will finally see.<br />
        These wings on your back are just waiting to guide you;<br />
        The future will soon set you free!<br />
        This cruel thesis, a spiteful angel's litany,<br />
        Will soon soar from the window of your destiny.<br />
        <br />
        White-hot pathos, a desecrated symphony;<br />
        Stay true to this and don't betray your memory!<br />
        Come now, reach out - you must embrace reality!<br />
        Rise up, young boy, and make yourself a legend!<br />
        <br />
        You've slept for ever-so-long...<br />
        Embraced in affection and cradled with care.<br />
        <br />
        But with morning's approach comes an echoing cry;<br />
        It tells you to wave your dreams goodbye.<br />
        And the moon is shining above;<br />
        It wishes to show just how fragile you are.<br />
        You're so frail and slight in its silvery light;<br />
        Our fate is not one we can fight.<br />
        <br />
        But, someday, I hope that we'll be reunited...<br />
        If that is what's destined to be.<br />
        Perhaps we'll discover that elusive Bible,<br />
        And then we will finally be free!<br />
        This cruel thesis, a spiteful angel's mockery,<br />
        Will bring with it the sorrow of futility.<br />
        <br />
        Hold on tightly and do not lose vitality;<br />
        You must wake up, for now the dream is history!<br />
        Come now, reach out - you must embrace humanity!<br />
        Rise up, young boy, and make yourself a legend!<br />
        Love is the thread of the story that's woven...<br />
        Of future and present and past.<br />
        <br />
        I may not ever ascend to the heavens,<br />
        But I know my love will still last!<br />
        This cruel thesis, a spiteful angel's litany,<br />
        Will soon soar from the window of your destiny.<br />
        White-hot pathos, a desecrated symphony;<br />
        <br />
        Stay true to this and don't betray your memory!<br />
        Come now, reach out - you must embrace reality!<br />
        Rise up, young boy, and make yourself a legend!<br />
    </p>
</section>
